@font-face 
{
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-VariableFont_wght.ttf');
   /* src: url('Aileron-Black.eot?#iefix') format('embedded-opentype'),
         url('Aileron-Black.woff') format('woff'),
         url('Aileron-Black.ttf') format('truetype'),
         url('Aileron-Black.svg#Aileron-Black') format('svg');*/
    /* font-weight: normal;
    font-style: normal; */

}

html {
    scroll-behavior: smooth;
  }

* {
    box-sizing: border-box;
    font-family: 'Raleway', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    background-size:cover;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

header {
    width: 97vw;
    height: 30vh;
    margin: auto;
    margin-top: 3vh;
    background-color: lightgrey;
}

.container_hebergements {
    display: flex;
    justify-content: space-between;
    width: 97vw;
    margin: auto;
    height: 67vh;
    background-color: lightblue;
}

#hebergements, .flux_populaires {
    height: 100%;
}

#hebergements {
    width: 63.7vw;
    background-color: greenyellow;
}

.flux_populaires  {
    width: 31.8vw;
    background-color: orange;
}

.menu {
    width: 100%;
    height: 100%;
    background-color: indianred;
}

.container_nav {
    width: 100%;
    height: 7.5vh;
    background-color: lemonchiffon;
    display: flex;
    justify-content: space-between;
}

.logo {
    background-color: lightseagreen;
    width: auto;
    
}

nav {
    display: flex;
    width: 31.8vw;
    background-color: mediumslateblue;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav ul li {
    width: 10.6vw;
    display: flex;
    background-color: mediumspringgreen;
    border: 1px solid;
}

nav ul li a {
    display: flex;
    background-color: red;
}



/* .menu, nav, nav ul, nav ul li, nav ul li a, .inscription a {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .inscription{
    width: 12.25vw;
} */

/* .inscription a {
    border : red 1px solid;
    background-color: grey;
} */

/* .zone_de_recherches{
    height: 20vh;
} */

/* .zone_de_recherches h1, .zone_de_recherches p{
    margin-left: 5%;
} */

/* .champ_recherches{
    display: flex;
    width: 30%;
} */


/* .couleur_fond{
    background-color: #F2F2F2;
} */

/* #hebergements, aside, #activites {
    padding: 2%;
    height: 70vh;
} */

/* .container_hebergements, #activites {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    margin: auto;
} */

/* #hebergements {
    width: 56.75vw;
} */

/* aside {
    width: 36.75vw;
} */

/* footer {
    width: 100%;
    height: 30vh;
    bottom: 0;
    position: relative;
    display: flex;
} */

/* .col{
    width: 33.33%;
    border: solid 1px;
    padding: 3rem;
    height: 30vh;
    display: flex;
    flex-direction: column;
    line-height: 3rem;
} */

/* .coins_arrondis{
    border-radius: 30px;
} */
